<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yc.jetpacklib">

    <application>
        <activity android:name="com.yc.jetpacklib.ui.YcScanQrcodeActivity" />

        <!--华为的扫描二维码 com.huawei.hms:scanplus-->
        <activity
            android:name="com.huawei.hms.hmsscankit.ScanKitActivity"
            tools:node="merge" />

        <service
            android:name="com.huawei.agconnect.core.ServiceDiscovery"
            tools:node="merge" />

        <provider
            android:name="com.huawei.agconnect.core.provider.AGConnectInitializeProvider"
            android:authorities="${applicationId}.AGCInitializeProvider"
            tools:replace="android:authorities"
            tools:node="merge" />
        <provider
            android:name="com.huawei.hms.mlsdk.common.provider.MLInitializerProvider"
            android:authorities="${applicationId}.AGCInitializeProvider"
            tools:replace="android:authorities"
            tools:node="merge" />

        <!--图片选择器的com.github.LuckSiege.PictureSelector:picture_library:v2.6.0-->
        <provider
            android:name="com.luck.picture.lib.PictureFileProvider"
            android:authorities="${applicationId}.luckProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities"
            tools:node="merge">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.luck.picture.lib.PictureSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            tools:node="merge" />
        <activity
            android:name="com.luck.picture.lib.PictureSelectorWeChatStyleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            tools:node="merge" />
        <activity
            android:name="com.luck.picture.lib.PictureSelectorCameraEmptyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Picture.Theme.Translucent"
            tools:node="merge" />
        <activity
            android:name="com.luck.picture.lib.PictureCustomCameraActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            tools:node="merge" />

        <activity
            android:name="com.luck.picture.lib.PicturePreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            tools:node="merge" />
        <activity
            android:name="com.luck.picture.lib.PictureSelectorPreviewWeChatStyleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            tools:node="merge" />
        <activity
            android:name="com.luck.picture.lib.PictureVideoPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor"
            tools:node="merge" />
        <activity
            android:name="com.luck.picture.lib.PictureExternalPreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            tools:node="merge" />

        <activity
            android:name="com.luck.picture.lib.PicturePlayAudioActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            tools:node="merge" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Base.Theme.NoActionBar"
            tools:node="merge" />
        <activity
            android:name="com.yalantis.ucrop.PictureMultiCuttingActivity"
            android:theme="@style/Base.Theme.NoActionBar"
            tools:node="merge" />
    </application>

</manifest>